* {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fromLeft {
	from {
		transform: translate(-100px, 0); 
	}
	to { 
		transform: translate(0, 0); 
	}
}

@keyframes fromRight {
	from {
		transform: translate(100px, 0); 
	}
	to { 
		transform: translate(0, 0); 
	}
}

/* Creating scope for non-collision styles */
#ad-acceptic-postfix-9ghc1q {
	font-family: sans-serif;
	background: #fff;
}

#ad-acceptic-postfix-9ghc1q .ad-image {
	display: block;
	margin: 0 auto;
	padding: 24px 0;
	min-height: 100px;
	animation: fadeIn .5s .7s backwards;
}

#ad-acceptic-postfix-9ghc1q div.ad-image {
	text-align: center;
	text-transform: uppercase;
}

#ad-acceptic-postfix-9ghc1q .ad-download {
	text-transform: uppercase;
	font-weight: 500;
	float: right;
	display: inline-block;
	line-height: 32px;
	border-radius: 2px;
	background: #FF5722;
	height: 32px;
	padding: 0 16px 0 16px;
}

#ad-acceptic-postfix-9ghc1q .ad-title {
	font-size: 24px;
	clear: both;
	text-align: center;
	padding:  24px 0 32px 0;
	animation:
		fadeIn .5s backwards, 
		fromLeft .5s backwards;
}

#ad-acceptic-postfix-9ghc1q .ad-description {
	font-size: 16px;
	text-align: justify;
	animation: 
		fadeIn .5s .3s backwards,
		fromRight .5s .3s backwards;
}

#ad-acceptic-postfix-9ghc1q footer {
	border-top: 7px solid #1976D2;
	padding: 24px;
	background: #2196F3;
	color: #fff;
	overflow: hidden;
}